@font-face {
    font-family: franklin gothic heavy;
    font-style: normal;
    font-weight: 400;
    src: local('Franklin Gothic Heavy'),local('FranklinGothicHeavy-Regular'),url(https://allfont.net/cache/fonts/franklin-gothic-heavy_4d13be3d7e0bde3cf8be37610dc835bf.woff) format('woff'),url(https://allfont.net/cache/fonts/franklin-gothic-heavy_4d13be3d7e0bde3cf8be37610dc835bf.ttf) format('truetype')
}
