Användaren tillhör ingen SalesApp-grupp i Active Directory. Kontakta support. Support kan nås på support@qbim.se.
Du kan även testa att logga ut och kontrollera att du är inloggad med rätt användare. <a href="/MicrosoftIdentity/Account/SignOut">Logga ut</a>
